@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --clr-primary: hsl(243, 87%, 12%);
  --clr-accent: hsl(170, 45%, 43%);
  --bg-accent: hsl(224, 93%, 58%);
  --bg-sign-up: hsl(238, 22%, 44%);
  --clr-white: hsl(240, 75%, 98%);
  --clr-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: #fff;
  color: var(--clr-primary);
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
}
h1,
h2,
h3,
.navbar,
.cta,
footer {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  padding: 1em;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 100px;
  display: block;
}
.nav-menu li {
  display: inline-block;
  margin-left: 0.5em;
}
.nav-menu a {
  padding: 0.3em 0;
  color: var(--clr-primary);
  position: relative;
}
.nav-menu a::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--clr-accent);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
}
.nav-menu a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
section {
  padding: 3rem 1rem;
}
.hero {
  text-align: center;
  z-index: 100;
  position: relative;
}

.hero-text {
  margin-top: 2rem;
}
form {
  max-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input {
  background: var(--clr-white);
  outline: none;
  border: 1px solid var(--clr-primary);
  border-radius: 3px;
  padding: 0.6rem 1rem;
}
::placeholder {
  opacity: 0.3;
}
.primary-cta {
  background: var(--bg-accent);
  color: var(--clr-white);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.primary-cta:hover {
  background: hsl(224, 65%, 48%);
}
/* about section */
.about-section {
  text-align: center;
  background-color: var(--clr-white);
  position: relative;
  margin-top: 5rem;
  z-index: 1;
}
.about-section::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -52%;
  z-index: -1;
  left: 0;
  background: url('./images/bg-curve-desktop.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.about-text {
  margin-top: 2rem;
}
.about-text h2 {
  font-size: 1.2rem;
}
.about-text .top p {
  opacity: 0.5;
}
.cta {
  color: var(--clr-accent);
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 0.1em 0;
}
.cta::before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  letter-spacing: 0;
  bottom: 0;
  background: var(--clr-accent);
  transition: transform 0.3s;
  /* transform-origin: left; */
}
.cta:hover::before {
  transform: scaleX(0);
  /* transform-origin: left; */
}
.cta img {
  margin-left: 0.2rem;
  height: 1.3rem;
  width: 1.3rem;
}

/* testimonial */
.testimonial {
  color: var(--clr-primary);
  text-align: left;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  letter-spacing: 0.5px;
  width: 300px;
  margin: 3rem auto 0;
}
.testimonial p {
  margin: 0;
  font-size: 0.8rem;
}
.testimonial p::before {
  content: '';
  display: block;
  height: 1rem;
  width: 1rem;
  background: url('./images/icon-quotes.svg') no-repeat center/contain;
  margin-bottom: 0.2rem;
}
.user {
  display: flex;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.user img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.user div {
  margin-left: 0.8rem;
  font-weight: 700;
}
.user span {
  display: block;
  font-size: 0.6rem;
  font-weight: 400;
}

/* sign-in */
.sign-in {
  text-align: center;
  background: var(--bg-sign-up);
  color: var(--clr-white);
  padding: 3rem;
}
/* footer */
footer {
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 3rem 2rem;
}
footer a {
  color: var(--clr-white);
}
footer a:hover {
  border-bottom: 1px solid var(--clr-white);
}
footer img {
  margin-bottom: 1.5rem;
}
footer ul {
  margin-bottom: 3rem;
}
footer li {
  margin-bottom: 0.7rem;
}
.social-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0;
}
.social-links a {
  border: 1px solid var(--clr-white);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  transition: transform 0.1s;
}
.social-links a:hover {
  transform: scale(1.1);
}

/* responsive design */
@media screen and (min-width: 760px) {
  .container {
    max-width: 1100px;
    margin: 0 auto;
  }
  .navbar {
    padding: 3rem 2rem 2rem;
  }
  .nav-menu li {
    margin-left: 2em;
  }
  section {
    padding: 4rem 2rem;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .flex > * {
    flex: 1;
  }
  .hero {
    text-align: left;
  }
  .hero-text {
    flex-shrink: 0;
  }
  form {
    margin: 0;
    flex-direction: row;
    gap: 0.5rem;
    max-width: 100%;
  }
  .hero .container > *:first-child {
    order: 2;
  }
  .about-section .container > *:first-child {
    order: 2;
  }
  .about-section {
    text-align: left;
  }
  .about-text .top p {
    opacity: 1;
  }
  .testimonial {
    margin-left: 0;
    width: 350px;
  }
  .about-img {
    flex: 0.8;
  }

  /* sign in */
  .sign-in .container {
    text-align: left;
    gap: 3rem;
  }
  .sign-in form {
    flex-direction: column;
    width: 300px;
    padding: 0 4rem;
    flex: 0.6;
  }
  .sign-in .primary-cta {
    display: inline-block;
  }
  .footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.attribution {
  position: absolute;
  letter-spacing: 0.5px;
  font-size: 12px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
.attribution a {
  color: hsl(228, 51%, 67%);
}
